html, body{
    min-height:100%;
    max-width:100%;
}

h1{
    color: red;
    font-style:italic;
    font-style:bold;
    text-shadow: 1px 1px 2px red;
    text-align: center;
    margin: 5%;

}

h1 a {
    color: red;
    text-shadow: 1px 1px 2px black;
}

#body2{
    background: black;
}

body{
    background-image: url("./Images/fond.jpg");
    background-size: 2000px;
}

#texte1{
    color: white;
    font-weight: bold;
    margin: 5%;
    text-align: center;
    font-size: 25px;

}

#image{
    border-radius: 30px;
    border: 5px solid black;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titre{
    text-align: center;
}



body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;               
    padding:0;                    
    justify-content: space-around;
    margin: 7%;
}

.menu li {
    list-style-type: none ;       
  
}
.menu a {
    display:block;                
    min-width: 200px;                
    
    margin: 0.1000rem;               
    padding: 0.8rem 0;            
    text-align: center;             
    background-color: black; 
    color: white;                
    text-decoration: none;        
    border: 1px solid #fff;       
    border-radius: 100px;           
    
    transition: all 1s ;          
}

.menu a:hover,
.menu a:hover.actif{
    background-color: red;
    color: wheat;
    border-color: white;
}

.menu2 {
    display: flex;               
    padding:0;                    
    justify-content: space-around;
}

.menu2 li {
    list-style-type: none ;       
  
}
.menu2 a {
    display:block;                
    min-width: 200px;                
    
    margin: 0.1000rem;               
    padding: 0.8rem 0;            
    text-align: center;             
    background-color: black; 
    color: white;                
    text-decoration: none;        
    border: 1px solid #fff;       
    border-radius: 100px;           
    
    transition: all 1s ;          
}

.menu2 a:hover,
.menu2 a:hover.actif{
    background-color: red;
    color: wheat;
    border-color: white;
}


#f2004, #rb9, #r25{
    border-radius: 30px;
    width: 700px;
    margin: 5%;
}